<div id="button_container">
  <%= image_tag "doge_bootun_normal.png", id: "doge_bootun",
                draggable: "false" %>
  <div id="preload_doge_bootun_form" class="form_preload">
    <%= image_tag "doge_bootun_highlight.png", height: "1px", width: "1px" %>
    <%= image_tag "doge_bootun_pressed.png", height: "1px", width: "1px" %>
  </div>
  <%= javascript_include_tag "queue-button-bundle" %>
  <script type="text/javascript">
    <% if (session[:logged_in]) %>
      var doge_queue_bootun = new makeQueueButton ();
    <% else %>
      var doge_queue_bootun = new makeFakeQueueButton ();
    <% end %>
      var doge_bootun = new makePictureButton ("doge_bootun", 
                                               "<%= asset_path('doge_bootun_normal.png') %>",
                                               "<%= asset_path('doge_bootun_highlight.png') %>",
                                               "<%= asset_path('doge_bootun_pressed.png') %>");
  </script>
</div>
