<!-- Render the gradient background -->
<%= render partial: "layouts/background" %>
<div id="doge_content_container">
  <!-- Stream of Doge -->
  <div id="stream">
    <iframe id="stream_video" src="https://player.twitch.tv/?channel=cheeordie" height="720" width="1280" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
  </div>
  <div id="chat">
    <!-- Chat box -->
    <div id="chat-border" class="border">
      <ul id="chat-lines" class="scrolly"></ul>
      <div id="type-msg">
        <textArea id="msg" maxlength="1024" name="msg"></textArea>
        <button id="send" type="submit">Woof</button>
      </div>
    </div>
    <!-- Number of characters remaining beneath chat -->
    <p id="remaining"></p>
    <!-- Display number of Doge tokens -->
    <% if logged_in? %>
      <%= render partial: "doge/coins", locals: { number_balls: current_user.number_balls } %>
    <% end %>
    <%= form_tag "/woof", method: "post", id: "rails_secure_form", remote: true do %>
      <%= hidden_field_tag 'deliverable_msg' %>
      <%= hidden_field_tag 'tab_id', @tab_id %>
    <% end %>
    <%= subscribe_to "/woof" %>
  </div>
  <!-- Display the queue control -->
  <%= render partial: "doge/queue", locals: { queue_time: get_queue_time, number_balls: get_number_balls } %>
  <%= javascript_include_tag "doge-bundle", type: "text/javascript" %>
  <script type="text/javascript">
    var dogeChatter = new makeDogeChat ();
  </script>
</div>
