<!DOCTYPE html>
<html>
<head>
  <title>Doge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="login_bar">
  <%= image_tag "dogetime.png", :id => "logo" %>
  <p id="doge_title"></p>
  <table class="vert-center">
    <tr>
      <td class="login_link"><%= link_to "Sign up", new_account_path, :remote => true %></td>
      <td>|</td>
      <td class="login_link"><%= link_to "Login", "javascript:;", :id => "login_link" %></td>
    </tr>
  </table>
</div>

<%= yield %>

</body>
</html>
