<!DOCTYPE html>
<html>
<head>
  <title>Doge</title>
  <!-- 
    Gon gem allows us to add variables in the controller that javascript can access through the gon object
  
    Ex:
    class ProductsController < ApplicationController
      def index
        gon.products = Product.limit(10)
      end
    end 
  -->
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Roboto" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js" %>
  <%= javascript_include_tag "https://js.braintreegateway.com/web/3.20.0/js/data-collector.min.js" %>
  <%= javascript_include_tag "color-pick-bundle" %>
  <%= javascript_include_tag "color-opener-bundle" %>
  <%= csrf_meta_tags %>
</head>
<body id="dogeAppBody">

<!-- Header HTML -->
<div id="login_bar">
  <div id="logo_container">
    <%= link_to image_tag("dogetime.png", id: "logo"), root_path, method: :get, id: "logo-link", class: "vert-center" %>
  </div>
  <div id="title_container"><p id="doge_title" class="vert-center"></p></div>
  <table id="title_table" class="vert-center">
    <tr>
      <% if session[:logged_in] then %>
        <%= form_tag color_path, :method => "post", :remote => true, :id => "change_color_form" do%>
          <%= hidden_field_tag "account_color", session[:color] %>
        <% end %>
        <td class="color_picker_general">
          <canvas height="64px" width="64px" id="open_color_picker"></canvas>
          <div id="color_picker_location2"></div>
          <script type="text/javascript">
            var app_color_opener = new ColorOpener ("<%= session[:color] %>",
                                                    "open_color_picker",
                                                    "color_picker_location2",
                                                    "color-picker-container");
            app_color_opener.bindSubmission ("change_color_form");
          </script>
        </td>
        <td class="welcome">Welcome <%= link_to(sanitize(session[:username]), account_path(session[:id]), style: "color:" + sanitize(session[:color]), method: :get, id: "username_top") %>!</td>
        <td>|</td>
	      <td class="login_link"><%= link_to "Log Out", logout_path, remote: true, id: "logout_link" %></td>
	      <%= javascript_include_tag "logout-bundle" %>
      <% else %>
        <td class="login_link"><%= link_to "Sign up", new_account_path, remote: true, id: "signup_link" %></td>
        <td>|</td>
	      <td class="login_link"><%= link_to "Login", login_path, remote: true, id: "login_link" %></td>
        <%= javascript_include_tag "login-signup-bundle" %>
      <% end %>
      <%= hidden_field_tag "current_account_color", session[:color] %>
      <%= hidden_field_tag "current_account_username", session[:username] %>
    </tr>
  </table>
</div>

<%= yield %>

<%= render "layouts/footer" %>

<%= render "layouts/ls_form_container" %>

</body>
</html>
