<!DOCTYPE html>
<html>
<head>
  <title>Doge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="login_bar">
  <div id="logo_container"><%= image_tag "dogetime.png", :id => "logo", :class => "vert-center" %></div>
  <div id="title_container"><p id="doge_title" class="vert-center"></p></div>
  <table class="vert-center">
    <tr>
      <td class="login_link"><%= link_to "Sign up", new_account_path, :remote => true %></td>
      <td>|</td>
      <td class="login_link"><%= link_to "Login", login_path, :remote => true, :id => "login_link" %></td>
    </tr>
  </table>
</div>

<%= yield %>

</body>
</html>
