<div id="login_form_container">
<div id="backdrop"></div>
<div id="login_box" class="hori-vert-center">
	<%= image_tag "exit_normal.png", :id => "exit_button", :draggable => "false" %>
  <p id="login_title" class="form_title">So Login, Much Doge</p>
  <div id="login_info">
	  <%= form_for :login, :remote => true, :html => {:id => "login_form"} do |f| %>
      <%= f.label :username, :id => "username_label", :class => "form_label" %>
      </br>
      <%= f.text_field :username, :class => "form_input" %>
      </br></br>
      <%= f.label :password, :id => "password_label", :class => "form_label" %>
      </br>
      <%= f.password_field :password, :class => "form_input" %>
      <% if flash[:login_error] %>
        <div id="login_error" class="error"><%= sanitize flash[:login_error] %></div>
      <% end %>
      <div id="underline"></div>
      <%= image_tag "doge_face_thumb.png", :id => "login_form_doge_img", :class => "hori-center" %>
      <br>
      <%= f.submit "Login", :class => "form_submit hori-center", :id => "login_form_submit" %>
    <% end %>
  </div>
</div>
<div id="preload_login_form">
  <%= image_tag "exit_highlight.png", :height => "1px", :width => "1px" %>
  <%= image_tag "exit_pressed.png", :height => "1px", :width => "1px" %>
</div>
<%= javascript_include_tag "accounts-bundle" %>
</div>
